version: '3.8'

services:
  research-vault:
    build: .
    container_name: research_vault_app
    restart: unless-stopped
    environment:
      - PORT=80               # <--- CAMBIO CRÍTICO: Node escuchará en el 80
      - DATA_DIR=/app/data
      - UPLOADS_DIR=/app/uploads  # Definimos la ruta de uploads
    volumes:
      - research_data:/app/data
      - research_uploads:/app/uploads # <--- Nuevo volumen montado
    labels:
      - "traefik.enable=true"
      # ... (tus otras etiquetas de host y tls) ...
      
      # MANTENEMOS ESTO EN 80 (Opción B)
      - "traefik.http.services.research-vault.loadbalancer.server.port=80"

    networks:
      - web

networks:
  web:
    external: true

volumes:
  research_data:
    driver: local
  research_uploads:  # <--- Creamos el volumen persistente
    driver: local
